<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Courier New", Courier, monospace;
      }
      .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: black;
        color: white;
        height: 70px;
      }
      .left {
        padding: 10px;
      }
      .right ul {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
      }
      .right ul li a {
        text-decoration: none;
        margin-right: 30px;
        color: white;
        font-weight: 600;
      }
    </style>
    <title>Home</title>
  </head>
  <body>
    <div class="nav">
      <div class="left"><h2>Passport</h2></div>
      <div class="right">
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/auth/login">Login</a></li>
            <li><a href="/auth/logout">Logout</a></li>
          </ul>
        </nav>
      </div>
    </div>

    <div>This is home page</div>
  </body>
</html>
